<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            margin: 1rem;
        }

        .wrapper-div {
            width: 100%;
            font-weight: bold;
            border: 1px solid #000;
            padding: 1rem;
            margin-bottom: 2rem;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: none;
        }

        h1 {
            text-align: center;
            color: green;
            font-size: 28px;
            padding: 0;
            margin-bottom: .5rem;
        }

        p {
            text-align: center;
            padding: 0;
            font-size: 14px;
        }

        .table-summery {
            margin-top: 1rem;
            font-size: 14px;
        }

        .table-summery td {
            border: 1px solid black;
            padding-left: 5px;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            margin: 2.5rem 0 0;
            font-size: 14px;
        }

        .title {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            margin-bottom: .3rem;
        }

        .title h2 {
            border: 1px solid black;
            padding: 0 1rem;
            font-size: 14px;
        }
    </style>
</head>

<body style="max-width: 900px;margin:auto;">
    <div class="wrapper-div">
        <h1>
            <img style="position: relative; left: 0rem; top: .4rem" src="./images/logo.png" alt="logo" width="38px" />
            Uniflex Limited
        </h1>
        <p>
            73, Wahid Masafi Center, Purana Paltan Line, Dhaka-1000 <br />
            Website: www.uniflexlimited.com , Mobile : 01898886555
        </p>
        <div class="title">
            <h2>MONEY RECEIPT</h2>
            <h2>OFFICE COPY</h2>
        </div>
        <table>
            <tr>
                <td>Customer ID</td>
                <td>: U00001</td>
            </tr>
            <tr>
                <td>Customer Name</td>
                <td>: Md. Salim Hossain</td>
                <td>Receipt No.</td>
                <td>: 0005935724</td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>: 01813-037031</td>
                <td>Receipt Date</td>
                <td>: 01 Jan 2024</td>
            </tr>
            <tr>
                <td>Plot Description</td>
                <td>: Plot No- 50,katha-5,Block-A, Road-15/A,</td>
                <td>Purpose</td>
                <td>: Booking</td>
            </tr>
            <tr>
                <td>Term</td>
                <td>: 06 Year</td>
                <td>Cheque No. & Date</td>
                <td>: &nbsp;</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>: 01 Jan 2024</td>
                <td>Bank & Branch</td>
                <td>: &nbsp;</td>
            </tr>
            <tr>
                <td>Plot/Flat Total Price</td>
                <td>: 40,00,000</td>
                <td>Agency ID</td>
                <td>: 001</td>
            </tr>
            <tr>
                <td>Booking Amount</td>
                <td>: 1,00,000</td>
            </tr>
            <tr>
                <td>Received Amount</td>
                <td>: 1,00,000</td>
            </tr>
            <tr>
                <td>In word</td>
                <td>: One Lac Tk Only</td>
            </tr>
        </table>
        <table class="table-summery">
            <tr>
                <td>No Of Installment Paid</td>
                <td>000</td>
                <td>Total Tk Paid</td>
                <td>100,0000</td>
                <td>Next Date</td>
                <td>01-02-2024</td>
            </tr>
        </table>
        <div class="footer">
            <bold>Cashier</bold>
            <bold>Authorised</bold>
        </div>
    </div>

    <div class="wrapper-div">
        <h1>
            <img style="position: relative; left: 0rem; top: .4rem" src="./images/logo.png" alt="logo" width="38px" />
            Uniflex Limited
        </h1>
        <p>
            73, Wahid Masafi Center, Purana Paltan Line, Dhaka-1000 <br />
            Website: www.uniflexlimited.com , Mobile : 01818-7687879
        </p>
        <div class="title">
            <h2>MONEY RECEIPT</h2>
            <h2>CUSTOMER COPY</h2>
        </div>
        <table>
            <tr>
                <td>Customer ID</td>
                <td>: U00001</td>
            </tr>
            <tr>
                <td>Customer Name</td>
                <td>: Md. Salim Hossain</td>
                <td>Receipt No.</td>
                <td>: 0005935724</td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>: 01813-037031</td>
                <td>Receipt Date</td>
                <td>: 01 Jan 2024</td>
            </tr>
            <tr>
                <td>Plot Description</td>
                <td>: Plot No- 50,katha-5,Block-A, Road-15/A,</td>
                <td>Purpose</td>
                <td>: Booking</td>
            </tr>
            <tr>
                <td>Term</td>
                <td>: 06 Year</td>
                <td>Cheque No. & Date</td>
                <td>: &nbsp;</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>: 01 Jan 2024</td>
                <td>Bank & Branch</td>
                <td>: &nbsp;</td>
            </tr>
            <tr>
                <td>Plot/Flat Total Price</td>
                <td>: 40,00,000</td>
                <td>Agency ID</td>
                <td>: 001</td>
            </tr>
            <tr>
                <td>Booking Amount</td>
                <td>: 1,00,000</td>
            </tr>
            <tr>
                <td>Received Amount</td>
                <td>: 1,00,000</td>
            </tr>
            <tr>
                <td>In word</td>
                <td>: One Lac Tk Only</td>
            </tr>
        </table>
        <table class="table-summery">
            <tr>
                <td>No Of Installment Paid</td>
                <td>000</td>
                <td>Total Tk Paid</td>
                <td>100,0000</td>
                <td>Next Date</td>
                <td>01-02-2024</td>
            </tr>
        </table>
        <div class="footer">
            <bold>Cashier</bold>
            <bold>Authorised</bold>
        </div>
    </div>
</body>

</html>